@img-width: 24px;
@img-height: 24px;
@size-padding: 5px;

.chayka-spinner{
    padding: 0 0 0 (@img-width + 5px);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url('../img/spinner32x32.gif');
    background-size: @img-width @img-height;
    min-height: @img-height;
    line-height: @img-height;
    vertical-align: middle;
    display: inline-block;
}

.chayka-general_spinner .chayka-multi_spinner{
    position: fixed;
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 10px;
    opacity: 0.8;

    bottom: 10%;
    right: 50px;

    [data-ng-repeat]{
        display: none;

        &:first-child{
            display: block;
        }
    }

    &:hover{
        [data-ng-repeat] {
            display: block;
        }
    }
}