.form_field {
  margin-bottom: 1em;
}
.form_field > label {
  padding-top: 4px;
}
#postbox-container-1 .postbox .form_field > label,
#postbox-container-2 .postbox .form_field > label {
  cursor: auto;
}
#postbox-container-1 .postbox .form_field > label.alignright,
#postbox-container-2 .postbox .form_field > label.alignright {
  text-align: right;
}
#postbox-container-1 .postbox .form_field > .input,
#postbox-container-2 .postbox .form_field > .input {
  display: block;
}
#postbox-container-1 .postbox .form_field > .input textarea,
#postbox-container-2 .postbox .form_field > .input textarea {
  resize: vertical;
}
#postbox-container-1 .postbox .form_field > .input .fullsize,
#postbox-container-2 .postbox .form_field > .input .fullsize {
  width: 100%;
}
#postbox-container-1 .postbox .form_field.radio > .input,
#postbox-container-2 .postbox .form_field.radio > .input {
  padding-top: 5px;
}
#postbox-container-1 .postbox .form_field.radio > .input label,
#postbox-container-2 .postbox .form_field.radio > .input label {
  display: inline;
  float: none;
  font-size: 16px;
  line-height: 32px;
  min-height: 32px;
  white-space: nowrap;
  padding-right: 1em;
}
#postbox-container-1 .postbox .form_field.radio > .input label input[type=radio],
#postbox-container-2 .postbox .form_field.radio > .input label input[type=radio] {
  display: inline;
  float: none;
}
#postbox-container-1 .postbox .form_field.fullsize > label,
#postbox-container-2 .postbox .form_field.fullsize > label {
  display: block;
  width: 100%;
  position: static;
  float: none;
}
#postbox-container-1 .postbox .form_field.fullsize > .input,
#postbox-container-2 .postbox .form_field.fullsize > .input {
  margin: 0;
  width: 100%;
}
#postbox-container-1 .postbox .form_field.fullsize > .input input[type=text],
#postbox-container-2 .postbox .form_field.fullsize > .input input[type=text],
#postbox-container-1 .postbox .form_field.fullsize > .input input[type=password],
#postbox-container-2 .postbox .form_field.fullsize > .input input[type=password],
#postbox-container-1 .postbox .form_field.fullsize > .input select,
#postbox-container-2 .postbox .form_field.fullsize > .input select {
  width: 100%;
}
#postbox-container-1 .postbox .form_field.fullsize > .input textarea,
#postbox-container-2 .postbox .form_field.fullsize > .input textarea {
  width: 100%;
}
#postbox-container-1 .postbox .form_field.fullsize > .input .ui-datepicker-month,
#postbox-container-2 .postbox .form_field.fullsize > .input .ui-datepicker-month,
#postbox-container-1 .postbox .form_field.fullsize > .input .ui-datepicker-year,
#postbox-container-2 .postbox .form_field.fullsize > .input .ui-datepicker-year {
  width: auto;
}
#side-sortables .form_field {
  margin-bottom: 1em;
}
#side-sortables .form_field > label {
  padding-top: 4px;
}
#side-sortables .form_field > .input input[type=text],
#side-sortables .form_field > .input input[type=password],
#side-sortables .form_field > .input select {
  width: 100%;
}
#side-sortables .form_field > .input textarea {
  width: 100%;
}
#normal-sortables .form_field,
#advanced-sortables .form_field {
  margin-bottom: 1em;
}
#normal-sortables .form_field > label,
#advanced-sortables .form_field > label {
  padding-top: 4px;
}
#normal-sortables .form_field > .input,
#advanced-sortables .form_field > .input {
  display: block;
}
/* Job Control */
.chayka-job_control {
  border: 1px solid gray;
  box-sizing: border-box;
}
.chayka-job_control > .box_controls {
  margin: 0 1em 1em;
  height: 30px;
}
.chayka-job_control > .box_controls > button.dashicons-before {
  line-height: normal !important;
  padding: 0 4px !important;
  margin-right: 1ex;
}
.chayka-job_control > .box_controls .field_items_per_iteration {
  float: right;
}
.chayka-job_control > .box_controls .field_items_per_iteration input {
  width: 50px;
}
.chayka-job_control .progressbar {
  margin: 1em 1em 1em;
  height: 30px;
  border: 1px solid gray;
  box-sizing: border-box;
}
.chayka-job_control .progressbar .progress_label {
  float: left;
  width: 100%;
  margin-top: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
  text-align: center;
}
.chayka-job_control .progress_spinner {
  margin: 0 1em 1em;
  display: none;
}
.chayka-job_control .box_output {
  clear: both;
  margin: 0 1em 1em;
  height: 160px;
  overflow-y: scroll;
  border: 1px solid gray;
  box-sizing: border-box;
}
.chayka-job_control .box_output .message {
  padding: 0.5ex;
  border-bottom: 1px dashed #aaa;
  font-size: 13px;
}
.chayka-job_control .box_output .message:last-child {
  border-bottom: none;
}
