
@wp-color-gray-darkest: #464646;
@wp-color-gray-dark: #808080;
@wp-color-gray: #cccccc;
@wp-color-gray-light: #ececec;
@wp-color-gray-border: #dfdfdf;
@wp-color-blue: #1a749c;
@wp-color-yellow: #1a749c;
@wp-color-yellow-border: #e7dd48;

.form_field{
    margin-bottom: 1em;
    > label{
        padding-top: 4px;
    }
}
#postbox-container-1, #postbox-container-2{

    .postbox{
        .form_field{
            > label{
                cursor: auto;
            }
            > label.alignright{
                text-align: right;
            }
            > .input{
                display: block;
                input[type=text],
                input[type=password],
                select{

                }
                textarea{
                    resize: vertical;
                }
                input[type=radio]{

                }
                input[type=checkbox]{

                }
                .fullsize{
                    width: 100%;
                }
            }
            > .message{

            }

        }
        .form_field.fullsize{
            > label{
                display: block;
                width: 100%;
                position: static;
                float: none;
            }
            > .input{
                margin: 0;
                width: 100%;
                input[type=text],
                input[type=password],
                select{
                    width: 100%;
                }
                textarea{
                    width: 100%;
                }
                input[type=radio]{

                }
                input[type=checkbox]{

                }
                label[for]{

                }
                .ui-datepicker-month, .ui-datepicker-year{
                    width: auto;
                }
            }
            > .message{

            }
        }
        .form_field.radio{
            > .input {
                padding-top: 5px;
                label {
                    display: inline;
                    float: none;
                    font-size: 16px;
                    line-height: 32px;
                    min-height: 32px;
                    white-space: nowrap;
                    padding-right: 1em;

                    input[type=radio] {
                        display: inline;
                        float: none;

                    }
                }
            }
        }
        .form_field.checkbox{
            >label{
                display: none;
            }
        }
    }
}

#side-sortables{
    .form_field{
        margin-bottom: 1em;
        > label{
            padding-top: 4px;
        }
        > .input{

            input[type=text],
            input[type=password],
            select{
                width: 100%;
            }
            textarea{
                width: 100%;
            }
            input[type=radio]{

            }
            input[type=checkbox]{

            }
            label[for]{

            }
        }
        > .message{

        }
    }
}

body, html{
    height: auto;
}

.media_item.as-sortable-item, .chayka-media_picker.multiple .media_items .as-sortable-placeholder{
    margin: 2px;
    background-size: cover;
    background-color: rgba(0,0,0, .1);
    display: inline-block;
    float: left;
    border: 1px solid #888;
    box-sizing: border-box;
}
.media_item.as-sortable-item{
    & > .sortable-handle{
        position: relative;
        height: 100%;
        width: 100%;
        & > .btn_remove{
            position: absolute;
            top: 4px;
            right: 4px;
            cursor: pointer;
            color: white;
            background-color: maroon;
            border: none;
            border-radius: 3px;
            line-height: 8px;
            padding: 4px;
        }
    }
}
.media_item.contain{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.chayka-media_picker{
    position: relative;
    border: 1px dashed #888;
    text-align: center;
    min-height: 100px;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0, .05);
    line-height: normal;
    & > img{
        max-width: 100%;
        padding: 0;
        margin: 0 0 -4px;
        height: auto;
        width: auto;
        cursor: pointer;
    }
    &.multiple{
        padding: 2px;
        position: static;
        & > .buttons{
            padding: 5px 0 0;
        }
        & > .media_items{
//            margin: 2px;
            text-align: left;
            .as-sortable-placeholder{
                border: 1px dashed #888;
            }
        }

    }
    & > .no_image{
        cursor: pointer;
        height: 200px;
        background: ~'url(../img/no-image.png)' no-repeat center center;
        background-size: contain;

        &>[data-spinner] {
            position: relative;
            z-index: 2;
            top: 45%;
            .chayka-spinner {
                background-color: rgba(255, 255, 255, .8);
                padding: 5px 5px 5px 35px;
                border-radius: 3px;
                background-position: 5px center;
            }
        }
    }
    & > .note{
        clear: both;
    }
    & > .buttons{
        width: 100%;
        box-sizing: border-box;
        position: absolute;
        text-align: right;
        top: 0;
        right: 0;
        padding: 5px;
        margin: 0;

        & > button{
            &.btn_clear{

            }

            &.btn_pick{

            }
        }
    }
    &.image-set{
        border-style: solid;
    }
//    &.image-set > .buttons{
//        opacity: 0;
//    }
//    &.image-set:hover > .buttons{
//        opacity: 1;
//    }
}

#normal-sortables, #advanced-sortables{
    .form_field{
        margin-bottom: 1em;
        > label{
            padding-top: 4px;
        }
        > .input{
            display: block;

            input[type=text],
            input[type=password],
            select{

            }
            textarea{

            }
            input[type=radio]{

            }
            input[type=checkbox]{

            }
            label[for]{

            }
        }
        > .message{

        }
    }
}

/* Job Control */
.chayka-job_control{

    border: 1px solid gray;
    box-sizing: border-box;

    > .box_controls{
        margin: 0 1em 1em;
        height: 30px;

        > button.dashicons-before{
            line-height: normal !important;
            padding: 0 4px !important;
            margin-right: 1ex;
        }
        .button_start{

        }
        .button_pause{
        }
        .button_resume{
        }
        .button_stop{

        }
        .field_items_per_iteration{
            float: right;
            label{

            }
            input{
                width: 50px;
            }
        }
    }

    .progressbar{
        margin: 1em 1em 1em;
        height: 30px;
        border: 1px solid gray;
        box-sizing: border-box;

        .progress_label{
            float: left;
            width: 100%;
            margin-top: 5px;
            font-weight: bold;
            text-shadow: 1px 1px 0 #fff;
            text-align: center;
        }
    }

    .progress_spinner{
        margin: 0 1em 1em;
        display: none;
    }

    .box_output{
        clear: both;
        margin: 0 1em 1em;
        height: 160px;
        overflow-y: scroll;
        border: 1px solid gray;
        box-sizing: border-box;

        .message{
            padding: 0.5ex;
            border-bottom: 1px dashed #aaa;
            font-size: 13px;
        }
        .message:last-child{
            border-bottom: none;
        }
    }

//    &.running{
//
//        .box_buttons{
//            .button_start{
//                display: inline;
//            }
//            .button_pause{
//                display: inline;
//
//            }
//            .button_resume{
//                display: none;
//            }
//            .button_stop{
//                display: inline;
//
//            }
//        }
//        .processor{
//            .progress_spinner{
//                display: block;
//            }
//        }
//    }
//
//    &.paused{
//
//        .box_buttons{
//            .button_start{
//                display: none;
//            }
//            .button_pause{
//                display: none;
//            }
//            .button_resume{
//                display: inline;
//            }
//            .button_stop{
//                display: inline;
//            }
//        }
//    }
//
//    &.finished{
//
//        .box_buttons{
//            display: none;
//        }
//    }
}

.form_field.color_picker{
    & > .input{
        position: relative;
        min-height: 32px;
        & > .wp-picker-container{
            position: absolute;
            z-index: 10;

            & > .wp-color-result{
                line-height: 16px;
                min-height: 32px;
                &::after{
                    font-size: 14px;
                    line-height: 30px;
                    min-height: 32px;
                }
                &.wp-picker-open + .wp-picker-input-wrap{
                    display: inline-block;
                }
            }
            & > .wp-picker-input-wrap{
                width: 257px;
                padding: 10px;
                background-color: #ffffff;
                border: 1px solid #dfdfdf;
                box-sizing: border-box;
                display: none;

                & > input.wp-color-picker{
                    width: 85px;
                    float: left;
                    font-size: 16px;
                    line-height: 16px;
                    padding: 0 5px;
                }
                & > input.button{
//                    width: 48%;
                    font-size: 16px;
                    line-height: 16px;
                    min-height: 32px;
                    float: right;
                    padding: 0 8px 1px;
                }
            }
            & > .wp-picker-holder{

            }
        }
    }
    &.stretch > .input{
        & > .wp-picker-container{
            right: 0;
            & > .wp-color-result{
                float: right;
                margin-right: 0;
            }
            & > .wp-picker-input-wrap{
                clear: both;
                & > input.wp-color-picker{

                }
                & > input.button{

                }
            }
            & > .wp-picker-holder{

            }
        }
    }
    &.fullsize > .input{

    }
}
