.chayka-modals {
  text-align: center;
  position: fixed;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  z-index: 10000;
}
.chayka-modals > .chayka-modals-fader {
  vertical-align: middle;
}
.chayka-modals > .chayka-modals-fader > .chayka-modals-modal {
  position: relative;
  background-color: white;
  display: inline-block;
  min-width: 300px;
  max-width: 100%;
  margin: 100px auto;
  border: 1px solid gray;
  box-sizing: border-box;
}
.chayka-modals > .chayka-modals-fader > .chayka-modals-modal > .modal_header {
  position: relative;
  border-bottom: 1px solid #eeeeee;
  text-align: left;
}
.chayka-modals > .chayka-modals-fader > .chayka-modals-modal > .modal_header > .modal_header-title {
  margin-left: 40px;
  margin-right: 40px;
  line-height: 30px;
  text-align: center;
}
.chayka-modals > .chayka-modals-fader > .chayka-modals-modal > .modal_header > .modal_header-close {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  font-family: Arial;
}
.chayka-modals > .chayka-modals-fader > .chayka-modals-modal > .modal_body {
  padding: 20px 10px;
  text-align: left;
}
.chayka-modals > .chayka-modals-fader > .chayka-modals-modal > .modal_body > .modal_body-content {
  white-space: pre-line;
}
.chayka-modals > .chayka-modals-fader > .chayka-modals-modal > .modal_buttons {
  border-top: 1px solid #eeeeee;
  padding: 10px;
  text-align: right;
}
.chayka-modals > .chayka-modals-fader > .chayka-modals-modal > .modal_buttons > button {
  margin-left: 1em;
}
